:root {
    --blue: #0075BF;
    --black: #181822;
    --dark-blue: #1A3A5B;
    --white: #FBFBFB;
    --opacity-blue: #79A0D5;
    --gray: #DEDEDE;
    --dark-green: #1A3A5B;
}


$xl-bp: 1024px;
$sm-bp: 500px;


