.basket-price {
    margin-top: 3rem;
    width: fit-content;
    margin-left: auto;

    p {
        color: var(--black);
        text-align: center;
        font-family: BOWLER;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 3.6rem;
        letter-spacing: 0.16rem;
        text-transform: uppercase;
    }

    .blue-button {
        width: 34rem;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        margin-right: 4rem;
        margin-top: 4.5rem;
    }
}