.connect {
    padding-top: 5.6rem;
    border-top: 0.1rem solid var(--gray);
    margin-top: 11rem;
    display: flex;
}

.connect-content {
    width: 50%;
    padding-right: 3rem;

}

form {
    width: 50%;
    padding-left: 4.8rem;
    border-left: 0.1rem solid var(--gray);

    h2 {
        color: var(--black);
        font-family: BOWLER;
        font-size: 4.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: 5.6rem;
        letter-spacing: 0.24rem;
        text-transform: uppercase;
        display: flex;
        justify-content: flex-end;

        span {
            color: var(--blue);
        }
    }

    textarea {
        margin-top: 3.7rem;
        border-radius: 3.5rem;
        border: 0.1rem solid var(--black);
        background: var(--white);
        width: 100%;
        outline: none;
        padding: 2.7rem 4rem 2.7rem 4rem;

        color: var(--black);
        font-size: 2.8rem;
        font-style: normal;
        font-weight: 500;
        line-height: 2.8rem;

        &::placeholder {
            opacity: 0.25;
        }
    }

    .blue-button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 4.5rem;
        width: 43rem;
        color: var(--white);
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2rem;
        text-transform: uppercase;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

.connect-content__location {
    display: flex;
    align-items: center;
    gap: 1rem;

    svg {
        width: 4.8rem;
        height: 4.8rem;
    }

    p {
        color: var(--black);
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 3.2rem;
    }
}

.connect-content__position {
    margin-top: 8rem;
    display: flex;
    justify-content: space-between;

}

.time-container {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;

    div {
        display: flex;
        gap: 2.4rem;

        p {
            &:first-child {
                color: var(--black);
                font-size: 2.4rem;
                font-style: normal;
                font-weight: 600;
                line-height: 2.4rem;
            }

            &:last-child {
                color: var(--black);
                font-size: 2.4rem;
                font-style: normal;
                font-weight: 400;
                line-height: 3.2rem;
            }
        }
    }
}


.connect-content__contacts {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    a {
        display: flex;
        align-items: center;
        gap: 1rem;
        color: var(--black);
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 3.2rem;

        svg {
            width: 4.8rem;
            height: 4.8rem;
            fill: var(--blue);
        }
    }
}

.connect-form__inp {
    margin-top: 7rem;
    display: flex;
    gap: 5rem;

    input {
        border-radius: 3.5rem;
        border: 0.1rem solid var(--black);
        background: var(--white);
        width: 100%;
        outline: none;
        padding: 2.7rem 4rem 2.7rem 4rem;

        color: var(--black);
        font-size: 2.8rem;
        font-style: normal;
        font-weight: 500;
        line-height: 2.8rem;

        &::placeholder {
            opacity: 0.25;
        }
    }
}