<section class="about-us page-padding">
    <div class="about-us-info">
        <div class="about-us-info__img">
            <img src="./assets/images/about-us-info.jpg" alt="#">
        </div>

        <div class="about-us-info__text">
            <p>АО "Промтехкомплект" - дистрибьютор электронных компонентов и оборудования от ведущих мировых производителей.</p>
            <p>За годы работы на рынке мы зарекомендовали себя как ведущий поставщик электронных компонентов для промышленных, авиационных, космических, судостроительных, телекоммуникационных и железнодорожных предприятий России.</p>
        </div>
    </div>

    <div class="about-us-content">
        <h2>о нас</h2>

        <ul>
            <li>
                <h3>
                    <span>25 лет</span> на рынке
                </h3>
                <p>
                    Компания основана в 1995 году и на сегодняшний день является одним из лидеров по поставкам электронных компонентов на территории РФ.
                </p>
            </li>

            <li>
                <h3>
                    <span>2000</span> проектов
                </h3>
                <p>
                    Вместе с нашими заказчиками мы успешно реализовали огромное количество проектов в самых разных отраслях промышленности.
                </p>
            </li>

            <li>
                <h3>
                    <span>1000</span> производителей
                </h3>
                <p>
                    Мы сотрудничаем с тысячами производителями, которые широко известны качеством своей продукции и передовыми разработками.
                </p>
            </li>

            <li>
                <h3>
                    <span>700 000</span> позиций
                </h3>
                <p>
                    Широкая линейка поставок компании позволяет полностью закрыть потребности заказчиков в ЭКБ и оборудовании.
                </p>
            </li>
        </ul>

        <div class="about-us-content__buttons">
            <div class="about-us-content__buttons-img">
                <img src="./assets/images/about-us-content.jpg" alt="#">
            </div>

            <a href="#" class="arrow-button">
                о компании
                <svg>
                    <use href="#rotation-arrow"></use>
                </svg>
            </a>
        </div>
    </div>
</section>