<section class="addition-to-watch page-padding">
    <h2>вместе с этим смотрят:</h2>

    <div class="swiper addition-to-watch-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="swiper-slide__container">
                <div class="swiper-slide__container-img">
                    <img src="./assets/images/addition-to-watch-img.jpg" alt="#">
                </div>
                <p>Testing&Control 2023 - международная выставка испытательного и контрольно-измерительного оборудования</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide__container">
                <div class="swiper-slide__container-img">
                    <img src="./assets/images/addition-to-watch-img.jpg" alt="#">
                </div>
                <p>Testing&Control 2023 - международная выставка испытательного и контрольно-измерительного оборудования</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide__container">
                <div class="swiper-slide__container-img">
                    <img src="./assets/images/addition-to-watch-img.jpg" alt="#">
                </div>
                <p>Testing&Control 2023 - международная выставка испытательного и контрольно-измерительного оборудования</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide__container">
                <div class="swiper-slide__container-img">
                    <img src="./assets/images/addition-to-watch-img.jpg" alt="#">
                </div>
                <p>Testing&Control 2023 - международная выставка испытательного и контрольно-измерительного оборудования</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide__container">
                <div class="swiper-slide__container-img">
                    <img src="./assets/images/addition-to-watch-img.jpg" alt="#">
                </div>
                <p>Testing&Control 2023 - международная выставка испытательного и контрольно-измерительного оборудования</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide__container">
                <div class="swiper-slide__container-img">
                    <img src="./assets/images/addition-to-watch-img.jpg" alt="#">
                </div>
                <p>Testing&Control 2023 - международная выставка испытательного и контрольно-измерительного оборудования</p>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
</section>