<section class="chip page-padding">
    <div class="chip-img">
        <img src="./assets/images/chip_img.jpg" alt="#">
    </div>

    <div class="chip-content">
        <h2>интегральные микросхемы</h2>

        <ul>
            <li>
                <p>Аналоговые ИС</p>
                <svg>
                    <use href="#arrow-right"></use>
                </svg>
            </li>

            <li>
                <p>Микроконтроллеры и память</p>
                <svg>
                    <use href="#arrow-right"></use>
                </svg>
            </li>

            <li>
                <p>Генераторы, таймеры и RTC</p>
                <svg>
                    <use href="#arrow-right"></use>
                </svg>
            </li>

            <li>
                <p>Интерфейсы</p>
                <svg>
                    <use href="#arrow-right"></use>
                </svg>
            </li>

            <li>
                <p>Логика</p>
                <svg>
                    <use href="#arrow-right"></use>
                </svg>
            </li>

            <li>
                <p>Специализированные ИМС</p>
                <svg>
                    <use href="#arrow-right"></use>
                </svg>
            </li>

            <li>
                <p>Преобразователи питания интегральные</p>
                <svg>
                    <use href="#arrow-right"></use>
                </svg>
            </li>
        </ul>
    </div>
</section>