<section class="connect page-padding">
    <div class="connect-content">
        <div class="connect-content__location">
            <svg>
                <use href="#point-ico"></use>
            </svg>

            <p>143441, Россия, Московская область, пос. Путилково, 69 км МКАД, Бизнес-парк "Гринвуд", стр. 9</p>
        </div>

        <div class="connect-content__position">
            <div class="time-container">
                <div>
                    <p>Часы работы:</p>
                    <p>пн-чт c 8:30 до 17:45<br>пт с 8:30 до 16:30</p>
                </div>

                <div>
                    <p>Реквизиты:</p>
                    <p>АО «Промтехкомплект»<br>ИНН 5032030550<br>КПП 500601001</p>
                </div>
            </div>

            <div class="connect-content__contacts">
                <a href="tel:+7 (495) 721-85-00">
                    <svg>
                        <use href="#phone-ico"></use>
                    </svg>
                    +7 (495) 721-85-00
                </a>

                <a href="tel:+7 (495) 721-86-00">
                    <svg>
                        <use href="#taxophone-ico"></use>
                    </svg>
                    +7 (495) 721-86-00
                </a>

                <a href="mailto:sales@ptkgroup.ru">
                    <svg>
                        <use href="#mail-ico"></use>
                    </svg>
                    sales@ptkgroup.ru
                </a>
            </div>
        </div>

    </div>

    <form action="#">
        <h2>
            <span>свяжитесь</span> с нами
        </h2>

        <div class="connect-form__inp">
            <input type="text" name="name" placeholder="Имя">
            <input type="email" name="mail" placeholder="E-mail">
        </div>

        <textarea name="questions" placeholder="Ваш вопрос"></textarea>

        <button type="submit" class="blue-button">Отправить</button>
    </form>
</section>