<header class="page-padding ">
    <div class="header-logo">
        <svg>
            <use href="#logo"></use>
        </svg>
    </div>

    <ul>
        <li>
            <a href="#">О компании</a>
        </li>

        <li>
            <a href="#">продукция</a>
        </li>

        <li>
            <a href="#">Пресс-центр</a>
        </li>

        <li>
            <a href="#">контакты</a>
        </li>
    </ul>

    <button class="border-button">
        связаться с нами
    </button>
</header>