<section class="manufacturers page-padding">
    <div class="manufacturers-title">
        <h2>производители</h2>
        <a href="#" class="arrow-button">
            больше новостей
            <svg>
                <use href="#rotation-arrow"></use>
            </svg>
        </a>
    </div>

    <p>
        Партнерская сетка АО «Промтехкомплект» насчитывает более 500 производителей электронных компонентов и оборудования, широко известных на рынке благодаря высочайшим стандартам качества продукции и передовыми разработками
    </p>

    <ul>
        <li>
            <img src="./assets/images/client1.jpg" alt="#">
        </li>

        <li>
            <img src="./assets/images/client2.jpg" alt="#">
        </li>

        <li>
            <img src="./assets/images/client3.jpg" alt="#">
        </li>

        <li>
            <img src="./assets/images/client4.jpg" alt="#">
        </li>
    </ul>
</section>