<section class="more page-padding">
    <h2>
        <span>Хотите узнать</span> больше о наших продуктах и услугах?
    </h2>
    <p>Оставьте свой номер телефона и наш менеджер свяжется с Вами в кратчайшие сроки для уточнения необходимых деталей. Мы подберём для Вас лучшие решения на рынке.</p>

    <div class="more-inner">
        <div class="more-inner__img">
            <img src="./assets/images/more-img.jpg" alt="#">
        </div>

        <form action="#">
            <input type="text" name="name" placeholder="Имя">
            <input type="tel" name="phone" placeholder="+ 7 (___) ___-__-__">
            <textarea name="question" placeholder="Ваш вопрос"></textarea>
            <div class="more-inner__form-button">
                <button type="submit" class="blue-button">получить консультацию</button>
                <p>Принимаю <a href="#">политику конфиденциальности</a> и соглашаюсь на обработку персональных данных</p>
            </div>
        </form>
    </div>
</section>