<section class="press-center page-padding">
    <h2>пресс-центр</h2>
    <ul class="press-center__content">
        <li>
            <div class="press-center__content-wrapper">
                <div class="press-center__img">
                    <img src="./assets/images/press-center.jpg" alt="#">
                </div>

                <p>Источники питания индустриального класса широкого спектра применения SmartPower</p>
                <p>Источники питания на DIN-рейку представляют собой удобное и компактное решение для подачи электропитания в различные электротехнические системы.</p>
            </div>

            <div class="press-center__content-comment-wrapper">
                <div class="press-center__content-comment">
                    <div>
                        <svg>
                            <use href="#eye-icon"></use>
                        </svg>

                        <p>23</p>
                    </div>

                    <div>
                        <svg>
                            <use href="#comment-icon"></use>
                        </svg>

                        <p>0</p>
                    </div>
                </div>

                <div class="press-center__content-date">
                    <p>16.10.2023</p>
                </div>
            </div>
        </li>
        
        <li>
            <div class="press-center__content-wrapper">
                <div class="press-center__img">
                    <img src="./assets/images/press-center.jpg" alt="#">
                </div>

                <p>Testing&Control 2023 - международная выставка испытательного и контрольно-измерительного оборудования</p>
                <p>Источники питания на DIN-рейку представляют собой удобное и компактное решение для подачи электропитания в различные электротехнические системы.</p>
            </div>

            <div class="press-center__content-comment-wrapper">
                <div class="press-center__content-comment">
                    <div>
                        <svg>
                            <use href="#eye-icon"></use>
                        </svg>

                        <p>23</p>
                    </div>

                    <div>
                        <svg>
                            <use href="#comment-icon"></use>
                        </svg>

                        <p>0</p>
                    </div>
                </div>

                <div class="press-center__content-date">
                    <p>16.10.2023</p>
                </div>
            </div>
        </li>

        <li>
            <div class="press-center__content-wrapper">
                <div class="press-center__img">
                    <img src="./assets/images/press-center.jpg" alt="#">
                </div>

                <p>Testing&Control 2023 - международная выставка испытательного и контрольно-измерительного оборудования</p>
                <p>Источники питания на DIN-рейку представляют собой удобное и компактное решение для подачи электропитания в различные электротехнические системы.</p>
            </div>

            <div class="press-center__content-comment-wrapper">
                <div class="press-center__content-comment">
                    <div>
                        <svg>
                            <use href="#eye-icon"></use>
                        </svg>

                        <p>23</p>
                    </div>

                    <div>
                        <svg>
                            <use href="#comment-icon"></use>
                        </svg>

                        <p>0</p>
                    </div>
                </div>

                <div class="press-center__content-date">
                    <p>16.10.2023</p>
                </div>
            </div>
        </li>

        <li>
            <div class="press-center__content-wrapper">
                <div class="press-center__img">
                    <img src="./assets/images/press-center.jpg" alt="#">
                </div>

                <p>Testing&Control 2023 - международная выставка испытательного и контрольно-измерительного оборудования</p>
                <p>Источники питания на DIN-рейку представляют собой удобное и компактное решение для подачи электропитания в различные электротехнические системы.</p>
            </div>

            <div class="press-center__content-comment-wrapper">
                <div class="press-center__content-comment">
                    <div>
                        <svg>
                            <use href="#eye-icon"></use>
                        </svg>

                        <p>23</p>
                    </div>

                    <div>
                        <svg>
                            <use href="#comment-icon"></use>
                        </svg>

                        <p>0</p>
                    </div>
                </div>

                <div class="press-center__content-date">
                    <p>16.10.2023</p>
                </div>
            </div>
        </li>

        <li>
            <div class="press-center__content-wrapper">
                <div class="press-center__img">
                    <img src="./assets/images/press-center.jpg" alt="#">
                </div>

                <p>Testing&Control 2023 - международная выставка испытательного и контрольно-измерительного оборудования</p>
                <p>Источники питания на DIN-рейку представляют собой удобное и компактное решение для подачи электропитания в различные электротехнические системы.</p>
            </div>

            <div class="press-center__content-comment-wrapper">
                <div class="press-center__content-comment">
                    <div>
                        <svg>
                            <use href="#eye-icon"></use>
                        </svg>

                        <p>23</p>
                    </div>

                    <div>
                        <svg>
                            <use href="#comment-icon"></use>
                        </svg>

                        <p>0</p>
                    </div>
                </div>

                <div class="press-center__content-date">
                    <p>16.10.2023</p>
                </div>
            </div>
        </li>

        <li>
            <div class="press-center__content-wrapper">
                <div class="press-center__img">
                    <img src="./assets/images/press-center.jpg" alt="#">
                </div>

                <p>Testing&Control 2023 - международная выставка испытательного и контрольно-измерительного оборудования</p>
                <p>Источники питания на DIN-рейку представляют собой удобное и компактное решение для подачи электропитания в различные электротехнические системы.</p>
            </div>

            <div class="press-center__content-comment-wrapper">
                <div class="press-center__content-comment">
                    <div>
                        <svg>
                            <use href="#eye-icon"></use>
                        </svg>

                        <p>23</p>
                    </div>

                    <div>
                        <svg>
                            <use href="#comment-icon"></use>
                        </svg>

                        <p>0</p>
                    </div>
                </div>

                <div class="press-center__content-date">
                    <p>16.10.2023</p>
                </div>
            </div>
        </li>

        <li>
            <div class="press-center__content-wrapper">
                <div class="press-center__img">
                    <img src="./assets/images/press-center.jpg" alt="#">
                </div>

                <p>Testing&Control 2023 - международная выставка испытательного и контрольно-измерительного оборудования</p>
                <p>Источники питания на DIN-рейку представляют собой удобное и компактное решение для подачи электропитания в различные электротехнические системы.</p>
            </div>

            <div class="press-center__content-comment-wrapper">
                <div class="press-center__content-comment">
                    <div>
                        <svg>
                            <use href="#eye-icon"></use>
                        </svg>

                        <p>23</p>
                    </div>

                    <div>
                        <svg>
                            <use href="#comment-icon"></use>
                        </svg>

                        <p>0</p>
                    </div>
                </div>

                <div class="press-center__content-date">
                    <p>16.10.2023</p>
                </div>
            </div>
        </li>
    </ul>

    <a href="#" class="arrow-button">
        больше новостей
        <svg>
            <use href="#rotation-arrow"></use>
        </svg>
    </a>
</section>