<section class="products page-padding">
    <h2>продукция</h2>
    <ul>
        <li>
            <a href="#" class="border-button">Интегральные Микросхемы</a>
        </li>
        <li>
            <a href="#" class="border-button">Дискретные полупроводники</a>
        </li>

        <li>
            <a href="#" class="border-button">Разработка и конструирование</a>
        </li>
        <li>
            <a href="#" class="border-button">Электрооборудование</a>
        </li>
        <li>
            <a href="#" class="border-button">Беспроводные технологии</a>
        </li>
        <li>
            <a href="#" class="border-button">Пассивные компоненты</a>
        </li>
        <li>
            <a href="#" class="border-button">датчики</a>
        </li>

        <li>
            <a href="#" class="border-button">Источники питания</a>
        </li>
        <li>
            <a href="#" class="border-button">Оптоэлектроника</a>
        </li>

        <li>
            <a href="#" class="border-button">Оснащение рабочих мест</a>
        </li>
        <li>
            <a href="#" class="border-button">Электромеханика</a>
        </li>
        <li>
            <a href="#" class="border-button">прочее</a>
        </li>
    </ul>
</section>