<section class="questions page-padding">
    <form action="#">
        <h2>
            Остались вопросы? Введите ваш номер телефона, и менеджер свяжется с вами в ближайшее время
        </h2>

        <div class="questions-inp-container">
            <div>
                <p>Ваше имя</p>
                <input type="text" name="name" placeholder="Владислав">
            </div>

            <div>
                <p>Ваш номер</p>
                <input type="tel" name="phone" placeholder="+7 XXX XXX-XX-XX">
            </div>
        </div>

        <div class="questions-comment">
            <p>Комментарий</p>
            <textarea name="comment" placeholder="Комментарий"></textarea>
        </div>

        <div class="questions-buttons-container">
            <a href="#" class="blue-button">
                заказать звонок
            </a>

            <div class="questions-policy">
                <p>Нажимая на кнопку “Заказать звонок”, Вы даёте согласие на обработку <a href="#">персональных
                        данных</a> и соглашаетесь с <a href="#">условиями политики конфиденциальности</a></p>
            </div>
        </div>
    </form>

    <div class="questions-img">
        <img src="./assets/images/questions-img.jpg" alt="#">
    </div>
</section>