<section class="ticker">
    <div class="ticker-content">
        <p>Закажи звонок прямо сейчас</p>
        <p>·</p>
        <p>Закажи звонок прямо сейчас</p>
        <p>·</p>
        <p>Закажи звонок прямо сейчас</p>
        <p>·</p>
        <p>Закажи звонок прямо сейчас</p>
        <p>·</p>
        <p>Закажи звонок прямо сейчас</p>
        <p>·</p>
    </div>

    <div class="ticker-content">
        <p>Закажи звонок прямо сейчас</p>
        <p>·</p>
        <p>Закажи звонок прямо сейчас</p>
        <p>·</p>
        <p>Закажи звонок прямо сейчас</p>
        <p>·</p>
        <p>Закажи звонок прямо сейчас</p>
        <p>·</p>
        <p>Закажи звонок прямо сейчас</p>
        <p>·</p>
    </div>
    
</section>