<section class="title-block page-padding">
    <h2>Проектные поставки ЭКБ и оборудования</h2>
    <div class="title-block__inner">
        <div class="title-block__inner-img">
            <img src="./assets/images/title-block__img.jpg" alt="#">
        </div>
        <h2>от ведущих мировых производителей</h2>
    </div>

    <ul>
        <li>
            <h2>
                Проектная <span>поддержка</span>
            </h2>

            <p>Индивидуально прорабатываем каждый проект, подбираем замены и аналоги из дружественных стран</p>
        </li>

        <li>
            <h2>
                Контроль <span>качества</span>
            </h2>

            <p>Обеспечиваем входной контроль продукции и гарантируем её соответствие стандартам</p>
        </li>

        <li>
            <h2>
                Проектная <span>поддержка</span>
            </h2>

            <p>Индивидуально прорабатываем каждый проект, подбираем замены и аналоги из дружественных стран</p>
        </li>

        <li>
            <h2>
                Контроль <span>качества</span>
            </h2>

            <p>Обеспечиваем входной контроль продукции и гарантируем её соответствие стандартам</p>
        </li>
    </ul>
</section>